<link rel="stylesheet" href="/css/post-cover.css">   
div(class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('" + blog.image + "');")
    div(class="container")
        div(class="row same-height justify-content-center")
            div(class="col-md-12 col-lg-10")
                div(class="post-entry text-center")
                    span(class="post-category text-white bg-success mb-3") #{blog.category.title}
                    h1(class="mb-4") #{blog.title}
