
<header class="site-navbar" role="banner">
<div class="container-fluid">
<div class="row align-items-center">
<div class="col-4 site-logo">
<img src="/img/logo.svg" alt="Flaswap">
</div>
<div class="col-8 text-right">
<nav class="site-navigation" role="navigation">
<ul class="site-menu js-clone-nav mr-auto d-none d-lg-block mb-0">

<li><a href="/#/exchange">Exchange</a></li>
<li><a href="/#/market">Market</a></li>
<li><a href="/blog">Blog</a></li>
<li>
<select class="form-control" aria-label="Default select example" onchange="location = this.value;">
  <option value="/blog">
  
  English
  </option>
  <option value="/blog/zh-CN.html">简体中文</option>
  <option value="/blog/zh-TW.html">繁體中文</option>
</select>
</li>

</ul>
</nav>
<a href="#" class="site-menu-toggle js-menu-toggle text-black d-inline-block d-lg-none"><span class="icon-menu h3"></span></a></div>
</div>
</div>
</header>