<div class="container">
  <div class="row">
    <div class="col col-12">
      <img class="img-fluid" src="/img/banner.jpg">
    </div>
  </div>
  <div class="row">


    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card" style="width: 100%; padding: 20px">
        <div class="d-flex justify-content-between align-items-center">
          <h4>Uniswap V2</h4>
          <img src="https://app.uniswap.org/static/media/logo.742edb09.svg" class="exchange-logo">
        </div>
        <div class="card-body">
          <p class="card-text">A fully decentralized protocol for automated liquidity provision on Ethereum.</p>
          
        </div>

        <div class="card-footer">
          <a href="#" class="btn btn-primary">Insight</a>
        </div>
      </div>
    </div> 

    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card" style="width: 100%; padding: 20px">
        <div class="d-flex justify-content-between align-items-center">
          <h4>Sushiswap</h4>
          <img src="https://sushi.com/static/media/logo.1efce8b3.png" class="exchange-logo">
        </div>
        <div class="card-body">
          <p class="card-text">A platform that allows anyone to provide liquidity. In return, the person gets rewarded with token(s) and SUSHI tokens.</p>
        </div>

        <div class="card-footer">
          <a href="#" class="btn btn-primary">Insight</a>
        </div>        
      </div>
    </div> 

    <div class="col-md-4 d-flex align-items-stretch">
      <div class="card" style="width: 100%; padding: 20px">
        <div class="d-flex justify-content-between align-items-center">
          <h4>Justswap</h4>
          <img src="https://justswap.io/static/media/logo.273db171.svg" class="exchange-logo">
        </div>
        <div class="card-body">
          <p class="card-text">JustSwap is a TRON-based decentralized trading protocol for automated liquidity provision and an open financial market accessible to all.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Insight</a>
        </div>        
      </div>
    </div> 
   
  </div>
</div>